/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: $offBlack;
	border-bottom: 1px solid rgba($offBlackR, $offBlackG, $offBlackB, 0.3);
	text-decoration: none;
}

a:visited {
	color: $offBlack;
}

a:hover, a:focus, a:active {
	color: $logoGold;
	border-bottom: none;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}

a.no-border {
	border-bottom: none;
}
