/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: $offBlack;
	/* border-bottom: 1px solid rgba($offBlackR, $offBlackG, $offBlackB, 0.7); */
	text-decoration: underline;
}

a.img {
	display: inline-block;
	border-bottom: none;
	text-decoration: none;
	font-size: 0px;
	position: relative;
}

a:visited {
	/* color: $offBlack; */
}

a:hover, a:focus, a:active {
	color: $logoGold;
	text-decoration: none;
	/* border-bottom: 1px solid rgba($offBlackR, $offBlackG, $offBlackB, 0); */
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}

a.no-border {
	text-decoration: none;
	/* border-bottom: none; */
}
