# plugins
plugins/*
!plugins/advanced-custom-fields-pro
!plugins/filebird-wordpress-media-library-folders

# default themes
themes/twenty*/
themes/say-hey/_off-cuts/
themes/say-hey/styles/experiments

# non-code directories
uploads/**
upgrade/**

# node dependency directories
node_modules/
node_modules/**

package-lock.json
.DS_Store
local-by-flywheel*

# ignore log files and databases
*.log
*.sql
*.sqlite
