
$offWhite: #F2F3F4;
$offWhiteR: 242;
$offWhiteG: 243;
$offWhiteB: 244;

$offBlack: #414A4C;
$offBlackR: 65;
$offBlackG: 74;
$offBlackB: 76;

$logoGold: #b38c40;

$logoGrey: #9c968b;

$hoverGrey: #DDDDDD;
