
/*
  Color variables
*/

$offWhite: #F2F3F4;
$offWhiteR: 242;
$offWhiteG: 243;
$offWhiteB: 244;

$offBlack: #414A4C;
$offBlackR: 65;
$offBlackG: 74;
$offBlackB: 76;

$logoGold: #b38c40;
$logoGoldR: 179;
$logoGoldG: 140;
$logoGoldB: 64;


$logoGrey: #9c968b; (156,150,139)
$logoGreyR: 156;
$logoGreyG: 150;
$logoGreyB: 139;

$hoverGrey: #DDDDDD;

/*
  Font size variables
*/

$globalFontSize: 1rem;
$navigationFontSize: .8rem;
$headingFontSize: 2.2rem;
$logoTextFontSize: 1rem;
$mobileHeaderFontSize: 1.8rem;
