
.button {
  /*
  display: inline-block;
  background-color: $offWhite;
  color: $offBlack;
  border: 1px solid $offBlack;
  padding: 5px 15px;
  margin: 20px 3px;
  font-size: .9rem;
  */
  background-color: $offWhite;
  color: $offBlack;
  border: 1px solid $offBlack;
  font-weight: 300;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 6px;
  width: 75%;

  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.2rem;

  @mixin atSmall {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 50%;
    font-size: 1rem;
  }

  @mixin atMedium {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    font-size: 1.2rem;
  }

  &--inline {
    display: inline-block;
    font-size: 1rem;
    margin: .5rem 1rem;
    padding: .5rem 1rem;
    width: auto;

  }

}

.button:hover {
  background-color: $logoGold;
  color: $offWhite;
  border-bottom: 1px solid $offBlack;
}
