
.content-area {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  border: 0px solid yellow;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;

  &--bg-color {
    @mixin atSmall {
      background-color: rgba($offWhiteR,$offWhiteG,$offWhiteB,.89);
    }
  }

  &--padded-sides {
    max-width: 1080px;
    padding-left: 0px; /* side padding moved to site-main */
    padding-right: 0px;

    @mixin atSmall {
      padding-top: 3rem;
      padding-bottom: 2rem;
    }
  }

  &--padded-left {
    padding-left: 20px;
  }

}
