/*
Buttons on hover adapted from: https://codepen.io/philcheng/pen/YWyYwG
*/

.gallery-thumb {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 200px;
  padding: 0;
  margin-bottom: 1.2rem;
  margin-right: 1.2rem;
  margin-left: 1.2rem;
  border: 0px solid black;
  text-align: center;

  &__caption {
    z-index: 10;
    display: block;
    border: 0px solid yellow;
    opacity: 0;
    transition: opacity .75s ease;
  }

  &__detail-link {
    font-size: 2rem;
  }

  &__image {
    padding: 0;
    width: 200px;
    text-align: center;
    border: 0px solid red;
  }

  &__shadow-overlay {
    position: absolute;
    padding-top: 0px;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    padding: 0;
    margin: 0;
    border: 0px solid blue;
  }

  &__shadow-overlay:hover {
    /* background-color: rgba(0, 0, 0, 0.3); */
  }

  &__button-explore {
    position: absolute;
    width: 80%;
    top: 75px;
    left: 10%;
    text-align: center;
  }

  &__button-explore a {
    display: inline-block;
    width: 100%;
    padding: 5px 0;
    text-align: center;
    color: $offBlack;
    border: solid 2px $offBlack;
    background-color:  rgba(255, 255, 255, 0.6);
    opacity: 0;
    transition: opacity .5s ease;
  }

  &__button-explore a:hover {
    background-color: $offWhite;
  }

  &__button-view {
    position: absolute;
    padding: 0;
    width: 80%;
    left:10%;
    top: 110px;
    text-align: center;
    border: 0px solid yellow;
  }

  &__button-view a {
    display: inline-block;
    width: 100%;
    padding: 5px 0;
    text-align: center;
    color: $offWhite;
    border: solid 2px $logoGold;
    background-color:  rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity .5s ease;
  }

  &__button-view a:hover {
    background-color: $offBlack;
  }
}

.gallery-thumb:hover .gallery-thumb__button-explore a {
  opacity: 1;
}

.gallery-thumb:hover .gallery-thumb__button-view a {
  opacity: 1;
}

.gallery-thumb:hover .gallery-thumb__caption {
  opacity: 1;
}

.gallery-thumb img {
  display: block;
}

.gallery-thumbs--centered {
  text-align: center;
}
