
.gallery-index-item {
  position: relative;
  display: inline-block;
  width: 200px;
  padding: 0;
  margin-bottom: 2.0rem;
  margin-right: 2.0rem;
  margin-left: 2.0rem;
  border: 1px solid $offBlack;
  text-align: center;

  @mixin atMedium {
    width: 300px;
  }

  @mixin atLarge {
    width: 400px;
  }

  &__shadow-overlay {
    z-index: 5;
    position: absolute;
    padding-top: 0px;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.3);
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }

  &__shadow-overlay:hover {
    background-color: rgba(255, 255, 255, 0.6);
  }

  &__text-content {
    z-index: 10;
    position: absolute;
    padding: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    color: $offBlack;
    font-weight: 300;
    text-align: center;
    vertical-align: middle;
    border: 0px solid red;
    background-color: rgba(255, 255, 255, 0.6);


    @mixin atMedium {
      font-size: 1.8rem;

    }

    @mixin atLarge {
      font-size: 2.2rem;
      width: 400px;
    }

  }

}

.gallery-index-item img {
  display: block;
}

.gallery-index-item hr {
  border: 0;
  background-color: $offBlack;
	height: 1px;
  width: 25%;
  margin-top: 0.15em;
  margin-bottom: 0.15em;
}
