
.heading {
  margin: .5rem 0 1rem 0;
  font-weight: 300;
  /*color: $offBlack;*/
  font-size: 1.8rem;

  @mixin atSmall {
    font-size: 2rem;
  }

  @mixin atMedium {
    font-size: 2.4rem;
  }

  &__post-type {
    display: inline-block;
    font-size: .8rem;
    background-color: $offWhite;
    padding: 5px 15px;
    margin: .5rem 0;
  }

  &--small {
    font-size: 1.3rem;

    @mixin atSmall {
      font-size: 1.5rem;
    }
  }

  &--centered {
    text-align: center;
  }

  &--tight {
    margin: 0;
  }

}

.heading__line {
  width: 75%;
  margin-bottom: 2rem;

  &--full-width {
    width: 100%;
  }

  &--tight-bottom {
    margin-bottom: .5rem;
  }

  &--align-left {
    text-align: left;
    margin-left: 0;
  }
}
