
/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	float: right;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99999;
	background: $offWhite;
}

.main-navigation ul ul li {
  border-top: .5px solid #bbb;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation li {
	list-style: none;
	float: left;
	padding-left: 30px;
	padding-right: 30px;
	position: relative;
}

.main-navigation li:hover {
  color: $logoGold;
  background-color: $hoverGrey;
}


.main-navigation a {
	color: $offBlack;
	text-decoration: none;
	font-weight: 400;
	display: block;
	padding: 25px 0;
}

.main-navigation a:hover {
  color: $logoGold;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*

.sh-nav {

  &--pull-right {
    float: right;
  }

  ul {
    margin: 0;
    padding: 0;

    @mixin clearFix;
  }

  ul ul {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
  }

  ul li:hover > ul {
    display: block;
  }

  li:first-child {

  }

  li {
    list-style: none;
    float: left;
    padding-left: 30px;
    padding-right: 30px;
  }

  ul ul li {
    color: red;
    display: block;
  }

  a {
    color: #121212;
    text-decoration: none;
    font-weight: 400;
    display: block;
    padding: 25px 0;
  }

  a:active {
      color: red;
  }

  a:hover {
    text-decoration: underline;
  }

}

*/
