
/*
  MEDIA QUERY FOR MOBILE MENU PROPERTIES
*/

@media screen and (max-width: 600px) {

  /*COPIED, checked*/
  .main-navigation {
    margin-top: 0;
    background-color: $offWhite;
    position: relative;
    width: 100%;
    border: 0px solid black;
    text-align: center;
    font-size: 0; /* remove weird space below the inline-block .menu-header-container */
  }

  /*COPIED, checked*/
  .menu-header-container { /* Wordpress-generated nav container around top <ul>; align contents of nav list to left */
    display: block;
    text-align: left;
    border: 0px solid red;
    font-size: 1rem;  /* reset font size after setting to zero in 'main-navigation' */
    margin: 0;
  }

  /*COPIED, checked*/
  .main-navigation ul,
  .main-navigation ul ul,
  .main-navigation ul ul ul {
  	display: none;  /*?*/
  	position: static;
  }

  /*COPIED, checked*/
  .main-navigation ul ul {
    background: none;
    margin-left: 25px;
  }

  /*COPIED, checked*/
  .main-navigation ul ul ul {
    background: none;
    margin-left: 50px;
  }

  /*COPIED, checked*/
  .main-navigation > div > ul {
    padding: 0;
  }

/*
 TOP LEVEL NAV BUTTONS
*/

/*COPIED, checked*/
  .main-navigation > div > ul > li {
    display: none; /*?*/
    float: none;
    margin-top: 0px;
  }

  /*COPIED, checked*/
  .main-navigation ul li {
    border: 0px solid blue;
  }

  /*COPIED, checked*/
  .main-navigation ul li:hover {
    background: none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
  }

  /*COPIED, checked*/
  .main-navigation > div > ul > li > a {
    padding: 10px 15px;
  }


  /* TRY TO ADD THESE SELECTORS LATER
  (Not copied yet....)
----------------------------  */
  ul.sub-menu {
    display:none;
  }

  ul.sub-menu.toggled-on {
    display:block;
  }
/* ---------------------  */

  /* COPIED (to .menu a) <<<<< */
  /* >>>>>>>>>>>-----------<<<<<<<<<< */
    .main-navigation ul li a {
      width: auto;
      display: block;
      margin: 0px 0px;
      padding: 10px 15px;
      border-bottom: 1px solid rgba(0,0,0,.15);
    }
  /* >>>>>>>>>>>-----------<<<<<<<<<< */

  /*COPIED, checked*/
    .main-navigation ul li a:hover {
      background-color: $hoverGrey;
    }

  /*COPIED, checked*/
  .main-navigation.toggled-on > div > ul {
  	display: block;
  }

  /*COPIED, checked*/
  .main-navigation.toggled-on > div > ul > li {
    display: block;
    float: none;
    margin-top: 0px;
  }

}
