
/* Classs for the NAV element; main wrapper around navigation */
.main-navigation {
  margin-top: 0;
  /*background-color: $offWhite;*/
  /* background: rgba($offWhiteR, $offWhiteG, $offWhiteB, .5); */
  position: relative;
  width: 100%;
  border: 0px solid black;
  text-align: center;
  font-size: 0; /* remove weird space below the inline-block .menu-header-container */

  @mixin atSmall {
    top: 0px;
    left: 0px;
    padding: 0;
    text-align: right; /* when wider than mobile, align the child <ul> block (nav links) to right of container */
    background: none;
  }
}

/* Wordpress-generated nav container around top <ul>; align contents of nav list to left */
.menu-header-container {
  display: block;
  text-align: left;
  border: 0px solid red;
  @mixin fontFaceNav;
  font-size: $navigationFontSize;  /* reset font size after setting to zero in 'main-navigation' */
  font-weight: 300;
  margin: 0;
  text-transform: uppercase;

  @mixin atSmall {
    display: inline-block;
    padding: 0;
     /* font-size: calc($navigationFontSize * .85); reset font size after setting to zero in 'main-navigation' */
  }

  @mixin atMedium {
    font-size: $navigationFontSize;  /* reset font size after setting to zero in 'main-navigation' */
  }
}

.menu a { /* Wordpress-generated class applied to the top-level <ul>; a more specific anchor target, leaves logo text alone */

  width: auto;
  display: block;
  margin: 0px 0px;
  padding: 10px 15px;
  border-bottom: 1px solid rgba(0,0,0,.15);
  text-decoration: none;

  @mixin atSmall {
    display: inline-block;
    color: $offBlack;
    padding: 10px 20px 10px 15px; /* Sets padding for the "buttons" in the SUB menus */
    border: 0px solid orange;
    width: 200px; /* defining a width here is essentially defining a width on sub-menu elements (we'll over-ride this width below for top-level links) */
  }
}


.main-navigation ul {
  display: none;
  position: static;
  list-style: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;

  @mixin atSmall {
    display: block;
    margin: 0;
    padding: 0;
    z-index: 10;
  }
}

.main-navigation ul ul {
  display: none;
  position: static;
  background: none;
  margin-left: 25px;

  @mixin atSmall {
    position: absolute; /* want to take sub-menus out of the flow so they doesn't take up vertical space in the parent */
    background-color: $offWhite;
    display: none; /* Will be revealed on parent <li> hover */
    margin-left: 0px;

    /* margin-top: 2px; to accommodate 2px decoration on hover for top-level nav */

  }
}

.main-navigation ul ul ul {
  display: none;
  position: static;
  background: none;
  margin-left: 50px;

  @mixin atSmall {
    position: absolute;
    background-color: $offWhite;
    left: 100%;
    top: 0; /* NEEDED attention (was causing sub-sub-menu to display in wrong vertical position. Now OK) */
    margin-left: auto;
  }
}

.main-navigation > div > ul {
  padding: 0;

  @mixin atSmall {
    border: none;
  }
}

.main-navigation > div > ul > li {
  display: none; /*?*/
  float: none;
  margin-top: 0px;
  position: relative;

  @mixin atSmall {
    display: inline-block;
    margin-top: 2px; /* to accommodate 2px decoration on hover for top-level nav */
    float: left; /* experiment with turning this off... it may not be necessary with current styles */
    position: relative;
    border: none;
  }
}

.main-navigation ul li {
  border: 0px solid blue;
  margin-left: 3px; /* to accommodate decoration bar on hover */
}

.main-navigation ul li:hover {
  background: none;

  @mixin atSmall {

    /* hover color for all list items (effectively SUB-MENU items)...
    background-color: $hoverGrey;*/

    /* Set default hover decoration for sub-menu to 3px bar on left */
    -webkit-box-shadow: -3px 0px 0px 0px $logoGold;
    -moz-box-shadow: -3px 0px 0px 0px $logoGold;
    box-shadow: -3px 0px 0px 0px $logoGold;
  }
}

.main-navigation > div > ul > li:hover {
  background: none;

  @mixin atSmall {

    /* over-ride: hover color for top-level menu items
    background-color: $hoverGrey; */

    /* Set default hover decoration for top-level menu to 2px bar on top */
    -webkit-box-shadow: 0px -2px 0px 0px $logoGold;
    -moz-box-shadow: 0px -2px 0px 0px $logoGold;
    box-shadow: 0px -2px 0px 0px $logoGold;
  }
}


/* This line will activate submenu on hover */
/* To require dropdown click to expose submenu, remove this bit below */
.main-navigation li:hover > ul {
  @mixin atSmall {
    display: block;
  }
}

.main-navigation ul ul li {
  position: relative; /* to accommodate a possible sub-menu and will allow positioning of drop-down arrows within <li> */
}


.main-navigation > div > ul > li > a {
  padding: 10px 15px;

  @mixin atSmall {
    width: auto; /* This overrides width for top-level menu buttons (originally defined for sub-menu widths) */
    padding: 10px 15px 10px 15px; /* Sets default padding for top-level menu "buttons" */
  }

  @mixin atMedium {
    width: auto; /* This overrides width for top-level menu buttons (originally defined for sub-menu widths) */
    padding: 10px 20px 10px 20px; /* Sets default padding for top-level menu "buttons" */
  }
}

.main-navigation > div > ul > li.menu-item-has-children > a {
  padding: 10px 15px;

  @mixin atSmall {
    width: auto;
    padding: 10px 35px 10px 15px; /* Overrides padding for top-level menu "buttons" with children to accommodate dropdown icon */
  }

  @mixin atMedium {
    width: auto; /* This overrides width for top-level menu buttons (originally defined for sub-menu widths) */
    padding: 10px 45px 10px 15px; /* Overrides padding for top-level menu "buttons" with children to accommodate dropdown icon */
  }

  @mixin atLarge {
    width: auto; /* This overrides width for top-level menu buttons (originally defined for sub-menu widths) */
    padding: 10px 55px 10px 15px; /* Overrides padding for top-level menu "buttons" with children to accommodate dropdown icon */
  }
}

.main-navigation ul li a:hover {
  color: $offBlack; /* This overrides global link hover color */
}

.main-navigation.toggled-on > div > ul {
	display: block;
}

.main-navigation.toggled-on > div > ul > li {
  display: block;
  float: none;
  margin-top: 0px;
}

ul.sub-menu {
  display:none;
}

ul.sub-menu.toggled-on {
  display:block;
/*
  @mixin atSmall {
    display: none;
  } */
}




.dropdown-toggle {
	background-color: transparent;
	border: 0px solid purple;
	-webkit-box-shadow: none;
	box-shadow: none;
  text-shadow: none;
	color: $offBlack;
	display: inline-block;
	font-size: .625em;
	cursor: pointer;
  /* line-height: calc($navigationFontSize * 2.2); */
	margin: 0 .5rem;
  /* All this crazy business below is about positioning the drop-down arrow */
  padding: calc($navigationFontSize * 1.35) calc($navigationFontSize / 1.5) calc($navigationFontSize / 1.8) calc($navigationFontSize / 1.5);
	position: absolute;
	top: 0px;
  right: -.3rem;
  z-index: 99;
}


.dropdown-toggle:hover {
  /* If I want to bring back the hover color...*/
}


.dropdown-toggle:focus,
.dropdown-toggle:hover {
  background-color: none;
	outline: none;
}



.dropdown-toggle.toggled-on .icon {
	-ms-transform: rotate(-180deg); /* IE 9 */
	-webkit-transform: rotate(-180deg); /* Chrome, Safari, Opera */
	transform: rotate(-180deg);
}

/* Below is to rotate chevron when not on mobile (indicates submenu expands to the side) */
.sub-menu > li > button > span {
  @mixin atSmall {
    -ms-transform: rotate(-90deg); /* IE 9 */
  	-webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  	transform: rotate(-90deg);
  }
}
.sub-menu > li > button {
  padding: $navigationFontSize;
}
