
/* Classs for the NAV element; main wrapper around navigation */
.main-navigation {
  margin-top: 0;
  /*background-color: $offWhite;*/
  background: rgba($offWhiteR, $offWhiteG, $offWhiteB, .5);
  position: relative;
  width: 100%;
  border: 0px solid black;
  text-align: center;
  font-size: 0; /* remove weird space below the inline-block .menu-header-container */

  @mixin atSmall {
    top: 0px;
    left: 0px;
    padding: 0;
    text-align: right; /* when wider than mobile, align the child <ul> block (nav links) to right of container */
    background: none;
  }
}

/* Wordpress-generated nav container around top <ul>; align contents of nav list to left */
.menu-header-container {
  display: block;
  text-align: left;
  border: 0px solid red;
  font-size: 1.1rem;  /* reset font size after setting to zero in 'main-navigation' */
  margin: 0;

  @mixin atSmall {
    display: inline-block;
    padding: 0;
  }
}

.menu a { /* Wordpress-generated class applied to the top-level <ul>; a more specific anchor target, leaves logo text alone */

  width: auto;
  display: block;
  margin: 0px 0px;
  padding: 10px 15px;
  border-bottom: 1px solid rgba(0,0,0,.15);

  @mixin atSmall {
    display: inline-block;
    color: $offBlack;
    padding: 10px 45px 10px 15px; /* Sets padding for the "buttons" in the SUB menus */
    border: 0px solid orange;
    text-decoration: none;
    width: 225px; /* defining a width here is essentially defining a width on sub-menu elements (we'll over-ride this width below for top-level links) */
  }
}


.main-navigation ul {
  display: none;
  position: static;
  list-style: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;

  @mixin atSmall {
    display: block;
    margin: 0;
    padding: 0;
    z-index: 10;
  }
}

.main-navigation ul ul {
  display: none;
  position: static;
  background: none;
  margin-left: 25px;

  @mixin atSmall {
    position: absolute; /* want to take sub-menus out of the flow so they doesn't take up vertical space in the parent */
    background-color: $offWhite;
    display: none; /* Will be revealed on parent <li> hover */
    margin-left: 0px;
  }
}

.main-navigation ul ul ul {
  display: none;
  position: static;
  background: none;
  margin-left: 50px;

  @mixin atSmall {
    position: absolute;
    background-color: $offWhite;
    left: 100%;
    top: 0; /* NEEDED attention (was causing sub-sub-menu to display in wrong vertical position. Now OK) */
    margin-left: auto;
  }
}

.main-navigation > div > ul {
  padding: 0;

  @mixin atSmall {
    border: none;
  }
}

.main-navigation > div > ul > li {
  display: none; /*?*/
  float: none;
  margin-top: 0px;
  position: relative;

  @mixin atSmall {
    display: inline-block;
    margin: 0;
    float: left; /* experiment with turning this off... it may not be necessary with current styles */
    position: relative;
    border: none;
  }
}

.main-navigation ul li {
  border: 0px solid blue;
}

.main-navigation ul li:hover {
  background: none;

  @mixin atSmall {

    /* Set default hover decoration to 3px bar on left */

    -webkit-box-shadow:inset 3px 0px 0px 0px $logoGold;
    -moz-box-shadow:inset 3px 0px 0px 0px $logoGold;
    box-shadow:inset 3px 0px 0px 0px $logoGold;
  }
}

.main-navigation > div > ul > li:hover {
  background: none;

  @mixin atSmall {

    /* Override for hover over top level nav only - show bar on top */

    -webkit-box-shadow:inset 0px 2px 0px 0px $logoGold;
    -moz-box-shadow:inset 0px 2px 0px 0px $logoGold;
    box-shadow:inset 0px 2px 0px 0px $logoGold;
  }
}

.main-navigation ul li a:hover {
  /* If I want to bring back the hover color...
  background-color: $hoverGrey; */
}

/* This line will activate submenu on hover */
/* To require dropdown click to expose submenu, remove this bit below */
.main-navigation li:hover > ul {
  @mixin atSmall {
    display: block;
  }
}

.main-navigation ul ul li {
  position: relative; /* to accommodate a possible sub-menu and will allow positioning of drop-down arrows within <li> */
}


.main-navigation > div > ul > li > a {
  padding: 10px 15px;

  @mixin atSmall {
    width: auto;
    padding: 10px 20px 10px 20px; /* Sets default padding for top-level menu "buttons" */
  }
}

.main-navigation > div > ul > li.menu-item-has-children > a {
  padding: 10px 15px;

  @mixin atSmall {
    width: auto;
    padding: 10px 45px 10px 15px; /* Overrides padding for top-level menu "buttons" with children to accommodate dropdown icon */
  }
}

.main-navigation ul li a:hover {
  color: $offBlack; /* This overrides global link hover color */
}

.main-navigation.toggled-on > div > ul {
	display: block;
}

.main-navigation.toggled-on > div > ul > li {
  display: block;
  float: none;
  margin-top: 0px;
}

ul.sub-menu {
  display:none;
}

ul.sub-menu.toggled-on {
  display:block;
}



.dropdown-toggle {
	background-color: transparent;
	border: 0px solid purple;
	-webkit-box-shadow: none;
	box-shadow: none;
  text-shadow: none;
	color: $offBlack;
	display: inline-block;
	font-size: .5rem;
	/*line-height: 1.5;*/
	margin: 0 .5rem;
	padding: 1rem;
	position: absolute;
	top: 1px;
  right: -.3rem;
  z-index: 99;
}

.dropdown-toggle:hover,
.dropdown-toggle:focus {
	background: transparent;
}

.dropdown-toggle:focus {
	outline: none;
}

.dropdown-toggle.toggled-on .icon {
	-ms-transform: rotate(-180deg); /* IE 9 */
	-webkit-transform: rotate(-180deg); /* Chrome, Safari, Opera */
	transform: rotate(-180deg);
}

/* Below is to rotate chevron when not on mobile (indicates submenu expands to the side) */
.sub-menu > li > button > span {
  @mixin atSmall {
    -ms-transform: rotate(-90deg); /* IE 9 */
  	-webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  	transform: rotate(-90deg);
  }
}
