
.post-card {
  padding: 0;
  margin: 35px 0;
  width: 80%;
  max-width: 400px; /* Don't want images to pixelate (they'll be 400px wide) */
  display: inline-block;
  vertical-align: top;
  border: 1px solid rgba($offBlackR, $offBlackG, $offBlackB, .2);

  @mixin atSmall {
    width: 250px;
    margin: 35px 17px;
  }

  @mixin atMedium {
    margin: 35px 30px;
    width: 300px;
  }

  @mixin atLarge {
    margin: 40px 30px;
    width: 400px;
  }

  &__image {
    position:relative;
    display: block;
    width: 100%;
  }

  &__type-label {
    position: absolute;
    bottom: .75rem;
    right: .33rem;
    padding: 0 .75rem;
    font-size: .85rem;
    background-color: rgba($offBlackR,$offBlackG,$offBlackB,.7);
    border-radius: 2px;
    color: $offWhite;
  }

  &__excerpt {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: left;
  }

  &--blank {
    border: 0px;
  }
}

/*
This will contain the cards for each post. Mess with text-align and
padding/margin to tweak how cards flow at different breakpoints
*/

.post-card-container {
  padding: 0px;
  margin: 0;
  text-align: center;
  width: 100%;

  @mixin atSmall {
    text-align: center;
  }

  @mixin atMedium {
    text-align: center;
  }

  @mixin atLarge {
    text-align: center;
  }

  &--align-left {
    text-align: left;

    @mixin atSmall {
      text-align: left;
    }

    @mixin atMedium {
      text-align: left;
    }

    @mixin atLarge {
      text-align: left;
    }

  }

}
