
.site-main {
  border: 0px solid blue;
  margin-top: 0rem;
  margin-bottom: 2.0rem;
  opacity: 1;
  margin-left: 20px;
  margin-right: 20px;

  @mixin atTiny {
    margin-left: 40px;
    margin-right: 40px;

  }
  /*
  min-height: 100vh;*/
}
